<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @software.nombre %>
</p>

<p>
  <b>Version:</b>
  <%= @software.version %>
</p>

<p>
  <b>Fecha:</b>
  <%= @software.fecha %>
</p>


<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>
